*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}
body{
 background-color:black;
 font-family: cursive;
}
nav{
  background-color: whitesmoke;
  padding: 1.5rem 3rem;
  position:fixed;
  left: 0;
  right:0;
  z-index:1;
}
nav ul{
  list-style: disc;
}
nav ul li{
  font-size: large;
  font-weight: 600;
  color:red;
  font-family:Arial, Helvetica, sans-serif;
}
section > div {
  padding: 5rem 2rem;
}
section > div * {
  display: inline-block;
}

.brand {
  position: sticky;
  color:black;
  width: 30%;
  text-align: center;
  vertical-align: top;
  top:110px;
 
}

.brand > div {
  position: relative;
  border: 4px solid yellow;
  padding: 1rem 2.5rem ;
  border-radius: 5px;
  background-color: yellowgreen;
  
}

.brand > div > h2 > img{
  position:sticky;
  top: -20px;
  left: 0;
  right: 0;
  margin-inline: auto;
}
.content {
  width: 60%;
  padding-block-start: 1.5rem;
  
}
.content > p {
  padding-block-end: 2rem;
  color:yellow;
}
